[Unit]
Description=Wyoming Porcupine1 (Wake Word)
After=network.target

[Service]
Type=simple
ExecStart={{ mediaplayer_home }}/wyoming/porcupine1/bin/python3 -m wyoming_porcupine1 \
    --uri tcp://127.0.0.1:10400 \
    --sensitivity 0.85 \
    --debug
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
