[Unit]
Description=Wyoming Satellite (Orchestrator)
After=network.target wyoming-porcupine1.service

[Service]
Type=simple
ExecStart={{ mediaplayer_home }}/wyoming/satellite/bin/python3 -m wyoming_satellite \
    --name "Raspberry Pi Touch" \
    --uri tcp://0.0.0.0:10700 \
    --mic-command "parec --raw --rate=16000 --channels=1 --format=s16le" \
    --mic-command-samples-per-chunk 512 \
    --snd-command "paplay --raw --rate=22050 --channels=1 --format=s16le" \
    --wake-uri tcp://127.0.0.1:10400 \
    --wake-word-name bumblebee \
    --awake-wav {{ mediaplayer_home }}/wyoming/satellite/awake_prompt.wav \
    --detection-command {{ mediaplayer_home }}/wyoming/satellite/awake.sh \
    --transcript-command {{ mediaplayer_home }}/wyoming/satellite/transcript.sh \
    --synthesize-command {{ mediaplayer_home }}/wyoming/satellite/synthesize.sh \
    --tts-start-command {{ mediaplayer_home }}/wyoming/satellite/tts-start.sh \
    --tts-stop-command {{ mediaplayer_home }}/wyoming/satellite/done.sh \
    --error-command {{ mediaplayer_home }}/wyoming/satellite/done.sh \
    --vad \
    --vad-wake-word-timeout 5 \
    --debug
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target