[Unit]
Description=Touchscreen 显示服务
After=network-online.target
Wants=network-online.target

[Service]
Environment="XDG_RUNTIME_DIR={{ user_runtime_dir }}"
Type=simple
WorkingDirectory={{ ts_app_dir }}

# 启动前等待 eth0 准备好（最多 10 秒）
ExecStartPre=/bin/bash -c 'for i in {1..10}; do [ -e /sys/class/net/eth0/address ] && break; sleep 1; done'

ExecStart={{ ts_venv_dir }}/bin/python {{ ts_app_dir }}/main.py
Restart=always
RestartSec=15
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
